build
build/**
llvm-project/**
llvm-project
.vscode
futag-llvm-package
futag-llvm-package/**
custom-llvm/futag-llvm-package/**
custom-llvm/build
custom-llvm/clang
custom-llvm/fuzz-introspector
custom-llvm/cmake
custom-llvm/llvm
custom-llvm/compiler-rt
**/futag-llvm-package.latest.tar.xz
**/futag-llvm-package.tar.xz