build
build/**
llvm-project/**
llvm-project
.vscode
futag-llvm
futag-llvm/**
custom-llvm/INFO
custom-llvm/*.tar.xz
custom-llvm/futag-llvm/**
custom-llvm/AFLplusplus-4.02c
custom-llvm/binutils
custom-llvm/llvm-project-14.0.6.src.tar.xz
custom-llvm/llvm-project
custom-llvm/fuzz-introspector
custom-llvm/*.tar.gz
custom-llvm/*.tar.xz
**/futag-llvm.*.latest.tar.xz
**/futag-llvm.*.tar.xz
TODO
product-tests/*.tar.xz
futag-llvm*