<object-stream>
  <SvResVersion>2.5:Svace results format</SvResVersion>
  <SvResResults>
    <results>
      <SvResProjResults>
        <projectName>Futag fuzzing result</projectName>
        <warnings>
          WARNING_INFO
        </warnings>
      </SvResProjResults>
    </results>
  </SvResResults>
  <SvResResultsEx>
    <results>
      <SvResProjResultsEx>
        <projectName>Futag fuzzing result</projectName>
        <warnings>
          WARNINGINFO_EXPLAINATION
        </warnings>
      </SvResProjResultsEx>
    </results>
  </SvResResultsEx>
</object-stream>